* {
    margin: 0;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
}

body {
    background-color: #352F36;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #c49e16;
}

/*********************************** HEADER/NAVBAR ***********************************/

.navbar {
    color: #FFFFFF;
    background-color: #181418;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    height: 7vh;
}

.navbar-title {
    font-family: 'Amatic SC', sans-serif;
    font-size: xx-large;
    margin-left: 2rem;
}

.flex-right-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-item {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

/*********************************** INDEX & REGISTER ***********************************/

.content-background-container {
    background-image: url(../images/background-img.jpg);
    height: 100vh;
}

.main-content-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.login-menu-title {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.about-us {
    max-width: 550px;
}

.connection, .register {
    padding: 4rem 2rem 6rem 2rem;
    background-color: #181418;
    border-radius: 10px;
}

.about-us {
    padding: 4rem 2rem 6rem 2rem;
    background-color: #352F36;
    border-radius: 10px;
}

.login-menu-title {
    margin-bottom: 3rem;
    font-family: 'Gothic A1', sans-serif;
    font-variant: all-small-caps;
    font-size: xx-large;
}

.login-menu-text {
    padding-bottom: 1rem;
}

.text-input {
    margin-bottom: 2rem;
    border-radius: 5px;
    border: none;
    min-height: 2rem;
    max-width: 400px;
}

.aboutus-text {
    color: black;
}

.main-send-button {
    border: none;
    border-radius: 10px;
    background-color: #352F36;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1rem;
    min-width: 250px;
    align-self: center;
    margin-top: 3rem;
}

/*********************************** REGISTER SPECS ***********************************/

.register {
    padding: 4rem 2rem 2rem 2rem;
}

/*********************************** HOMEPAGE ***********************************/

.flex-container-home {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.home-title {
    font-variant: all-small-caps;
    margin-bottom: 1rem;
}

.list-items {
    background-color: #181418;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    list-style-type: none;
    height: 250px;
}

.current-borrowings, .current-lendings, .lending-cancelling, .borrowing-cancelling {
    margin: 1rem;
}

.current-lendings, .current-borrowings {
    margin-bottom: 3rem;
}

.lend, .borrow {
    min-width: 550px;
}

.home-form {
    border-radius: 5px;
    border: none;
    min-height: 1.5rem;
    min-width: 300px;
}

.add-button {
    margin-left: 1rem;
    width: 2rem;
    border: none;
    background-color: #181418;
    color: #FFFFFF;
    border-radius: 10px;
    max-height: 1.8rem;
}

.lending-form, .borrow-form, .home-title {
    text-align: center;
}

.lending-form, .borrow-form {
    display: flex;
    justify-content: center;
}

.text-input, .remove-button, .select-button {
    color: #181418;
}

.flex-selectform-home {
    display: flex;
    flex-direction: column;
}

.submit-box {
    display: flex;
}

.select-button, .remove-button {
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
    min-height: 2rem;
    margin-bottom: 1rem;
}

.remove-button {
    max-width: 6rem;
    background-color: #181418;
    color: #FFFFFF;
    font-weight: bold;
    align-self: center;
    min-width: 6rem;
}

/*********************************** ALERTES & TH:IF ***********************************/

.alert-invalid-form {
    align-self: center;
    color: #b81616;
}

.alert-user-created, .alert-valid-link {
    align-self: center;
    color: #14a354;
}

.alert-valid-link {
    text-decoration: underline;
}

.alert-valid-link:hover {
    color: #FFFFFF;
}


.submit-and-alert-box {
    position: relative;
}

.align-alert {
    position: absolute;
    align-self: center;
    z-index: 1;
}

.submit-and-alert-box {
    display: flex;
    flex-direction: column-reverse;
}