<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Léa Fontaine">
    <meta name="description" content="Lend a Friend something... and remember it !">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}"  href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <title>Lend a Friend - Oops...</title>
</head>
<body>
<header class="navbar">
    <p class="navbar-title">Lend a friend</p>
    <div class="flex-right-align">
        <p class="navbar-item" name="username" th:text="${username}"></p>
        <a th:href="@{/disconnect}" class="navbar-item"></a>
    </div>
</header>
<section class="flex-container-error">
   <div class="error-container">
       <h1 class="error-text">Une erreur s'est produite...</h1>
       <h2 class="error-text" th:text="${status + ' ' + error}"></h2>
       <h1><a class="alert-valid-link error-text" th:href="@{/home}">Revenir à la navigation</a></h1>
   </div>
    </section>
</section>
</body>
</html>